name: Generate binaries

on: [workflow_dispatch]

env:
  ISPC_VERSION: 1.28.0

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Clean old artifacts
        run: rm src/ispc/downsample_ispc.rs src/ispc/lib*.a

      - name: Prepare Environment
        run: |
          curl -L https://github.com/ispc/ispc/releases/download/v$ISPC_VERSION/ispc-v$ISPC_VERSION-linux.tar.gz | tar xzv --strip-components=2 ispc-v$ISPC_VERSION-linux/bin/ispc
          echo "$PWD" >> $GITHUB_PATH

      - name: Install additional targets
        run: rustup target add x86_64-unknown-linux-musl aarch64-unknown-linux-gnu aarch64-unknown-linux-musl aarch64-linux-android

      - name: Install GCC multilib for headers
        run: |
          sudo apt update
          sudo apt install gcc-multilib

      - name: Build binaries
        run: |
          cargo build --features=ispc --target x86_64-unknown-linux-gnu
          cargo build --features=ispc --target x86_64-unknown-linux-musl
          cargo build --features=ispc --target aarch64-unknown-linux-gnu
          cargo build --features=ispc --target aarch64-unknown-linux-musl
          cargo build --features=ispc --target aarch64-linux-android

      - uses: actions/upload-artifact@v6
        with:
          name: ISPC kernels Linux
          path: |
            src/ispc/downsample_ispc.rs
            src/ispc/lib*.a

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Clean old artifacts
        run: rm src/ispc/*.a

      - name: Prepare Environment
        run: |
          curl -L https://github.com/ispc/ispc/releases/download/v$ISPC_VERSION/ispc-v$ISPC_VERSION-macOS.x86_64.tar.gz | tar xzv --strip-components=2 ispc-v$ISPC_VERSION-macOS.x86_64/bin/ispc
          echo "$PWD" >> $GITHUB_PATH

      - name: Install additional targets
        run: rustup target add x86_64-apple-darwin aarch64-apple-darwin aarch64-apple-ios

      - name: Build binaries
        run: |
          cargo build --features=ispc --target=x86_64-apple-darwin
          cargo build --features=ispc --target=aarch64-apple-darwin
          cargo build --features=ispc --target=aarch64-apple-ios

      - uses: actions/upload-artifact@v6
        with:
          name: ISPC kernels Apple
          path: |
            src/ispc/lib*.a

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Clean old artifacts
        run: Remove-Item src/ispc/*.lib

      - name: Prepare Environment
        run: |
          curl -OL https://github.com/ispc/ispc/releases/download/v$env:ISPC_VERSION/ispc-v$env:ISPC_VERSION-windows.zip
          unzip ispc-v$env:ISPC_VERSION-windows.zip ispc-v$env:ISPC_VERSION-windows/bin/ispc.exe
          rm ispc-v$env:ISPC_VERSION-windows.zip
          Resolve-Path "ispc-v$env:ISPC_VERSION-windows/bin" | Add-Content $env:GITHUB_PATH

      - name: Install additional targets
        run: rustup target add aarch64-pc-windows-msvc

      - name: Build binaries
        run: |
          cargo build --features=ispc
          cargo build --features=ispc --target aarch64-pc-windows-msvc

      - uses: actions/upload-artifact@v6
        with:
          name: ISPC kernels Windows
          path: |
            src/ispc/*.lib

  merge:
    runs-on: ubuntu-latest
    needs:
      - build-linux
      - build-macos
      - build-windows
    steps:
      - name: Merge Artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: ISPC kernels for ispc-downsampler
          delete-merged: true
